<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Adding a new Customer/Client</div>
  <div class="page__content shadow p-3 position-relative">
      <app-back-btn></app-back-btn>

      <section>
          <form [formGroup]="customerFormGroup">
              <div>
                <mat-form-field appearance="outline" class="width-49">
                    <mat-label>Customer Type</mat-label>
                    <mat-select  name="Customer Type" formControlName="company_type">
                      <mat-option *ngFor="let item of types" [value]="item.code">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                <mat-form-field class="width-49" appearance="outline">
                    <mat-label>
                        <mat-icon class="form-label">person</mat-icon>&nbsp;&nbsp;Customer Name
                    </mat-label>
                    <input type="text" matInput placeholder="Customer Name" formControlName="name" required>
                </mat-form-field>
                  
                <mat-form-field class="width-49" appearance="outline">
                    <mat-label>
                        <mat-icon class="form-label">person</mat-icon>&nbsp;&nbsp;Mobile
                    </mat-label>
                    <input type="text" matInput placeholder="Mobile" formControlName="phone" required>
                </mat-form-field>
                  
                <mat-form-field class="width-49" appearance="outline">
                    <mat-label>
                        <mat-icon class="form-label">person</mat-icon>&nbsp;&nbsp;Email
                    </mat-label>
                    <input type="text" matInput placeholder="Email" formControlName="email" required>
                </mat-form-field>
                <mat-form-field appearance="outline" class="width-49">
                    <mat-label>Country</mat-label>
                    <mat-select  name="Country" formControlName="country_id">
                      <mat-option *ngFor="let item of countries" [value]="item.id">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                <mat-form-field class="width-49" appearance="outline">
                    <mat-label>
                        <mat-icon class="form-label">person</mat-icon>&nbsp;&nbsp;City/Town
                    </mat-label>
                    <input type="text" matInput placeholder="City/Town" formControlName="city" required>
                </mat-form-field>
                  
                <mat-form-field appearance="outline" class="width-49" *ngIf="!isEditing">
                    <mat-label>Account Receivale"</mat-label>
                    <mat-select  name="Account Receivale" formControlName="property_account_receivable_id">
                      <mat-option *ngFor="let item of receivable" [value]="item.id">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="width-49" *ngIf="!isEditing">
                    <mat-label>Account Payable</mat-label>
                    <mat-select  name="Account Payable" formControlName="property_account_payable_id">
                      <mat-option *ngFor="let item of payable" [value]="item.id">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  
              </div>
              <div class="buttons-cont">
                  <button mat-button class="custom-filled-button" type="submit" (click)="addCustomer()">
                      <mat-spinner matSuffix *ngIf="isLoading" diameter="30" color="accent" value="60">
                      </mat-spinner>
                      <span *ngIf="!isEditing">Add Customer</span>
                      <span *ngIf="isEditing">Update Customer Information</span>
                      <!--                <span *ngIf="employeeCode">Edit Employee</span>-->
                  </button>
              </div>

          </form>
      </section>
  </div>
</div>