@import "src/common";
ul {
    border: 1px solid #B8B8B8;
    border-radius: 16px;
    padding: 20px;
    margin: 20px 0 0 0;
  
    li {
      list-style-type: none;
      padding: 15px 10px;
      border-bottom: 0.5px solid rgba(3, 17, 78, 0.51);
      display: flex;
      align-items: center;
      gap: 20px;
  
      &:last-child {
        border: none;
      }
  
      mat-icon {
        color: #1e293b;
        font-size: 20px;
      }
    }
}
.downloading-report{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.main-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;

  > button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px 20px 5px 0;
    font-weight: normal;
    font-size: 16px;
  }
}
.filterBtn{
  margin-top: 20;
}
.table-section {
  margin-top: 10px;
}

  